
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

    </head>
    <body>


    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="main-container">
			<section class="hero-divider">
			
				<div class="background-image-holder overlay">
					<img class="background-image" alt="Poster Image For Mobiles" src="/assets/shine1-min.jpg">
				</div>
						
				<div class="container">
					<div class="row">	
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1 class="text-white">We craft meaningful experiences</h1>
							<p class="lead text-white">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
							</p>
							
							
						</div>
					</div><!--end of row-->
				</div><!--end of row-->
			</section>
			
			<section class="feature-selector">
				<div class="container">
					
				</div>
				
				<div class="container">
					<ul class="selector-content">
						<li class="clearfix active">
							<div class="row">
								<div class="col-sm-12 text-center">
									<h1>Our Goal</h1>
								</div>
							</div><!--end of row-->
							
							<div class="row">
								<div class="col-sm-6">
									<p class="lead">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									</p>	
								</div>
							
								<div class="col-sm-6">
									<p class="lead">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
									</p>	
								</div>
							</div><!--end of row-->
						</li><!--end of individual feature content-->
				</section>
						

			<section class="team-1">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1>About Us</h1>
						</div>
					</div><!--end of row-->
					
					<div class="row space-bottom-large">
						<div class="col-sm-4">
							<div class="team-1-member">
								<img alt="Team Member" src="/assets/team-small-1.png ">
								<h2>Claire Connors</h2>
								<h5>Artist</h5>
								<p class="space-top-small">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								</p>
							</div><!--end of team member-->
						</div>
						
						<div class="col-sm-4">
							<div class="team-1-member">
								<img alt="Team Member" src="/assets/alyx.png ">
								<h2>Alyx McClain</h2>
								<h5>Founder & Artist</h5>
								<p class="space-top-small">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								</p>
							</div><!--end of team member-->
						</div>
						
						<div class="col-sm-4">
							<div class="team-1-member">
								<img alt="Team Member" src="/assets/team-small-2.png">
								<h2>Robin Banks</h2>
								<h5>Artist</h5>
								<p class="space-top-small">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								</p>
							</div><!--end of team member-->
						</div>
						
		
					</div><!--end of row-->
					
					<!--end of row-->
					
				</div><!--end of container-->
			</section>
			
		<div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2016 Slugger City Sign Co.</span>
							<span class="text-white"><a href="#">hello@buildingblocks.com</a></span>
							<span class="text-white">+555 555 5555</span>
							<span class="text-white">Louisville KY, 40206</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>

    </body>
</html>
				