
<!DOCTYPE html>
<html class="no-js">
<head>


</head>

    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>

    						
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div><!--end of container-->
			</nav>

		</div>
		
		<div class="main-container">
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="/assets/homeimage-min.png">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<img alt="logo" src="/assets/Logo-Hori.png">
							<h1 class="text-white space-bottom-medium">Lets build something together.</h1></br>
								<%= link_to "Contact", '/contacts/new', class: "btn btn-primary btn-filled" %>
								<%= link_to "Support Us", '/store', class: "btn btn-primary btn-filled" %>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>

		</div>
		
		<div class="footer-container">
		
			
					
			<footer class="social bg-secondary-1">
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Get In Touch</h1>
							<a href="contact.html" class="text-white"><strong>hello@buildingblocks.com</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>

							</ul><br>
							<span class="sub">© Copyright 2016 <a href="#">Slugger City Sign Co.</a> - All Rights Reserved</span>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			
			</footer>
		</div>

    </body>
</html>
				