    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>

					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>

		</div>

		<div class="main-container">
			<section class="no-pad-bottom projects-gallery">
				<div class="background-image-holder overlay">
					<img class="background-image" alt="Poster Image For Mobiles" src="/assets/shine5-min.jpg">
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1 class="text-white">Check out some of our<br>latest and greatest work</h1>
							<p class="text-white">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta. 
							</p>
						</div>
					</div><!--end of row-->
					
				</div><!--end of container-->
				
				<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active">All</li>
								<li data-filter=".branding">Branding</li>
								<li data-filter=".development">Development</li>
								<li data-filter=".print">Hand Lettering</li>
							</ul>
						</div><!--end of row-->
					</div><!--end of container-->
					
					<div class="projects-container">
					
						<div class="col-md-6 col-sm-12 no-pad project development image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="/assets/shine2-min.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>Shine Bright</strong> Mural</h1>

									<a href="shinebright.html" class="btn btn-primary btn-white">See Project</a>
								</div>
							</div>
						</div><!--end of individual project-->
						
						<div class="col-md-6 col-sm-12 no-pad project development image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="/assets/pro2.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>Project</strong> Mural</h1>

									<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
								</div>
							</div>
						</div><!--end of individual project-->
						
						<div class="col-md-4 col-sm-6 no-pad project print image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="/assets/pro3.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>Project</strong> Mural</h1>

									<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
								</div>
							</div>
						</div><!--end of individual project-->
						
						<div class="col-md-4 col-sm-6 no-pad project branding image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="/assets/shine3-min.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>Project</strong> Mural</h1>

									<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
								</div>
							</div>
						</div><!--end of individual project-->
						
						<div class="col-md-4 col-sm-6 no-pad project print image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="/assets/shine4-min.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>Project</strong> Mural</h1>

									<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
								</div>
							</div>
						</div><!--end of individual project-->
					
					</div><!--end of projects-container-->
					
				</div><!--end of projects wrapper-->
				
			</section>
		</div>
		<div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2016 Slugger City Sign Co.</span>
							<span class="text-white"><a href="#">hello@buildingblocks.com</a></span>
							<span class="text-white">+555 555 5555</span>
							<span class="text-white">Louisville KY, 40206</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>
	</body>