    <div class="loader">
    	<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
    </div>

<div class="main-container">
      <section class="no-pad login-page fullscreen-element">
      
        <div class="background-image-holder">
          <img class="background-image" alt="Poster Image For Mobiles" src="/assets/hero6.jpg">
        </div>
      
        <div class="container align-vertical">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-6 col-sm-offset-3 text-center">
				<h1 class="text-white"><strong>Thank you for your message. We will contact you soon!</strong></h1>

            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>
</div>
<div class="footer-container">
	<footer class="short bg-secondary-1">
		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<span class="sub">© Copyright 2016 Building Blocks</span>

				</div>

			</div><!--end of row-->
		</div><!--end of container-->
	</footer>
</div>

